@model IEnumerable<sg160815MIS4200.Models.Enrollment>

@{
    ViewBag.Title = "Enrollment";
}

<h2>Student Enrollment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Instructor.instructorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enrollmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enrollmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor.instructorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enrollmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enrollmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.enrollmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.enrollmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.enrollmentID })
        </td>
    </tr>
}

</table>
