@model IEnumerable<sg160815MIS4200.Models.Student>

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.studentFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentSince)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.studentFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentSince)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.studentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.studentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.studentID })
        </td>
    </tr>
}

</table>
